body{
    background-color: rgb(223, 223, 223);
    background-image:none;
}
* {
  color: white;
}
.card {
    text-align: center;
    border-radius: 10px;
}
.svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: rgb(245, 227, 227);
  stroke-width: 1em;
}
#other-circle, #processing-circle {
  stroke: rgb(233, 113, 143);
  
}
#done-circle, #unworthy-circle, #notExist-circle {
  stroke: rgb(29, 210, 223);
}

.cont {
  display: block;
  height: 200px;
  width: 200px;
  margin: 2em auto;
  border-radius: 100%;
  position: relative;
}

.cont:after {
  position: absolute;
  display: block;
  height: 160px;
  width: 160px;
  left: 50%;
  top: 50%;
  content: attr(data-pct)"%";
  margin-top: -80px;
  margin-left: -80px;
  border-radius: 100%;
  line-height: 160px;
  font-size: 2em;
}
.circle-row .cont, h2 {
  color: rgb(65, 103, 138);
}


.progress {
  background-color: rgb(194, 232, 250);
  border-radius: 10px;
  height:20px;
  width: 110%
}
.progress-bar{
  background-color: rgb(30, 8, 112);
}
.takrer {
  background-color: rgba(105, 182, 245);
  border-radius: 30px 30px 90px 30px;
}

.takrer p {
  text-align: left;
}
 thead th {
  background-color: rgb(14, 33, 88);
  border: 1px solid white;
}
 tbody th {
  background-color:  rgb(32, 99, 154);
}
td {
  color: rgb(30, 8, 112);

}
#total th, #total td {
  background-color: rgb(65, 238, 65);
  color: rgb(30, 8, 112);
  border: 1px solid rgb(30, 8, 112);
}  
.icon {
  width: 30px;
  height: 30px;
}
